<h1 class="text-center">Estadística Descriptiva</h1>

<p class="text-center">Los calculos realizados son para observaciones de una MUESTRA</p>

<label for="" class="form-label fw-bold">Elija la presentación de los datos:</label>
<form [formGroup]="radiosForm">
  <input id="clasico" type="radio" formControlName="estado" value="clasico" class="form-check-input">
  <label for="clasico" class="form-check-label mx-1"> Clásica</label>
  <input id="tfrec" type="radio" formControlName="estado" value="tabla.frec" class="form-check-input">
  <label for="tfrec" class="form-check-label mx-1"> Por Frecuencias</label>
</form>

@if(radiosForm.get('estado')?.value === 'clasico') {
    <app-form-observaciones (datosOutput)="calcular($event)"></app-form-observaciones>
} @else {
    <app-form-tabla-frec (datosOutput)="calcular($event)"></app-form-tabla-frec>
}

<div class="table-responsive-lg">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Muestras</th>
                @for(columna of diccionarioColumnasTabla.values(); track columna) {
                    <th scope="col">{{ columna }}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for(datos of resultados(); track datos; let idx = $index) {
                <tr>
                    <td class="fw-bold">Muestra {{idx + 1}}</td>
                    @for(dato of datos; track dato) {
                        <td>{{ esArreglo(dato) ? muchasModas(dato) : dato }}</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="w-100 d-flex justify-content-end">
    <button type="button" (click)="borrarDatos()" class="btn btn-primary">Borrar Datos</button>
</div>